{% extends "gestion_FD/base_doctorant.html "%}
{% block content %}
{% load static %}
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Planning</h3>
        <h1>{{events}}</h1>
        <!-- page start-->
        <div class="row mt">

          <aside class="col-lg-9 mt">
            <section class="panel">
              <div class="panel-body">
                <input type="hidden" id="myVar" name="variable" value="{{ events }}">
              <div id="calendar"></div>
              </div>
            </section>
          </aside>
        </div>
        <!-- page end-->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <script>
      var events = document.getElementById("events").value;

      $(document).ready(function() {
    
     var calendar = $('#calendar').fullCalendar({
    
       editable:true,
           header:{
            left:'prev,next today',
            center:'title',
            right:'month,agendaWeek,agendaDay'
          },
          height: 700,
          eventLimit: 3,
          events:[{title:'All Day Event',

        start:'2021-06-01'
                  },],

           eventClick: function (event, jsEvent) {
             alert('Événement : '+ event.title );},
          eventColor:'#07756a',
    
     });
    });
    
    
      </script>
  {% endblock content%}