  
{% extends "gestion_FD/base_dpgr.html "%}
{% block content %}
{% load static %}
    <section id="main-content">
      <section class="wrapper">
        <!-- page start-->
        <br>
        <br>
       <center> <h3><b>Planning des présentations : </b> </h3></center>
        <center> 
          <div class="row mt">
            <aside class="col-lg-3 mt">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </br>
            </br>
          </br>
        </br>

            <a href="/dpgr/planifier_pres">
          
              <button class="btn btn-round btn-success" href="/doctorant/deposer_etat"  style="background-color:#128880;"> 
                Planifier une présentation
              </button>
            </a>
</aside>
          <aside class="col-lg-9 mt">
          <section class="panel">
            <div class="panel-body">
          <div id="calendar"></div>
            </div>
          </div>
          </section>
        
        </aside></center>    
        <center> <h3><b>Présentations à venir  : </b> </h3></center>
        <center>

        <div class="row mt">
          <aside class="col-lg-12 mt">
            <center>

            <div class="row">
              <center>

              <div class="col-md-12">
                <center>

                <div class="content-panel" >
                  <hr>
            <table class="table">
              <thead>
                <tr>
                  <th><h4><b> Numéro </b> </h4></th>
                  <th><h4><b>Date de la présentation  </b></h4> </th>
                  <th><h4> <b> heures   </b> </h4></th>
                  <th><h4> <b> doctorant  </b> </h4></th>
                  <th><h4> <b> Jury  </b> </h4></th>


                </tr>
              </thead>
              <tbody>
                {%  for e in pres  %}
                {% now "Y-m-d" as todays_date %}
                {% if today < e.date_pres  %}
                <tr>
                  
                  <td>{{   forloop.counter  }}</td>
                  <td>{{ e.date_pres }}</td>
                  <td>  {{e.heure_debut}}  {{e.heure_fin}} </td>
                  <td>{{e.doctorant.nom}}  </td>
                  
                  <td>{% for j in e.jury.all %} 
{{j.nom}}
<br>
                    {%endfor%}
                  </td> 
                </tr>
                {%endif%}

                {% endfor%}
              </tbody>
            </table>

            <center>
              <a href="/dpgr/planifier_pres">
          
                <button class="btn btn-round btn-success" href="/doctorant/deposer_etat"  style="background-color:#128880;"> 
                  Planifier une présentation
                </button>
              </a>          </center>

          </div>
        </center>

            </div>
          </center>

            </div>
          </center>

</aside>
</div>
</aside></center>  
<br>  
<center> <h3><b>Etats d'avancements : </b> </h3></center>
<center>

<div class="row mt">
  <aside class="col-lg-12 mt">
    <center>

    <div class="row">
      <center>

      <div class="col-md-12">
        <center>

        <div class="content-panel" >
          <hr>
    <table class="table">
      <thead>
        <tr>
          <th><h4><b> Numéro </b> </h4></th>
          <th><h4><b>Date de dépot  </b></h4> </th>
          <th><h4> <b> doctorant  </b> </h4></th>
          <th><h4> <b> Lien  </b> </h4></th>


        </tr>
      </thead>
      <tbody>
        {%  for e in etats  %}
        
        {% now "Y-m-d" as todays_date %}
        {% if this_year < e.date_etat_avancement  %}
        <tr>
          
          <td>{{   forloop.counter  }}</td>
          <td>{{ e.date_etat_avancement }}</td>
          <td>{{e.doctorant.nom}}  </td>
          
          <td><a href="{{e.etat.lien}}"> Lien </a>
          </td> 
        </tr>
        {%endif%}
        {% endfor%}
      </tbody>
    </table>

    

  </div>
</center>

    </div>
  </center>

    </div>
  </center>

</aside>
</center>

<br>
<br>
        </div>
        <!-- page end-->
      </section>
      <!-- /wrapper -->
      <script src="{% static "lib/jquery/jquery.min.js" %}" ></script>
      <script src="{% static "lib/jquery-ui-1.9.2.custom.min.js" %}"></script>
      <script src="{% static "lib/fullcalendar/fullcalendar.min.js" %}"></script>
      <script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
      <script class="include" type="text/javascript" src="{% static "lib/jquery.dcjqaccordion.2.7.js" %}"></script>
      <script src="{% static "lib/jquery.scrollTo.min.js" %}"
      
      
      
      
      
      
      
      ></script>
      <script src="{% static "lib/jquery.nicescroll.js" %}" type="text/javascript"></script>
      <!--common script for all pages
      <script src="{% static "lib/common-scripts.js" %}"></script> -->
      <!--script for this page 
      <script src="{% static "lib/calendar-conf-events.js" %}"></script> -->
      <script> 
      $(document).ready(function() {
      
      $('#calendar').fullCalendar({
          editable: true,
          eventLimit: true, // allow "more" link when too many events
          events: [
                      {% for i in events %}
                      {
                          title: "{{'Evaluation :'  }} {{i.doctorant.nom }}",
                          start: new Date("{{ i.date_pres }}")
      
                      },
                      {% endfor %}
          ]
      });
      
      });
      </script>
  {% endblock content%}