{% extends "gestion_FD/base_doctorant.html" %}
{% block content %}
  {% load static %} 

    <section id="main-content">
    <section class="wrapper site-min-height">
    
    <div class="row mt">
    <div class="col-lg-12">
    <div class="form-panel">
      <h3> {{vv}}</h3>
      <h3><b>Inscription</b></h3>
<br>
      {%if d.inscrit %}
      <h4> Vous vous etes déja inscrit ! </h4>
      {% else %}
      <form  class="form-horizontal style-form" method="POST" enctype="multipart/form-data">{%csrf_token%}
       
        <div class="form-group ">
          <label class="col-sm-10 col-sm-10 control-label" > <b>Matricule:  </b></label>
         <br> </br>
          <div class="col-md-11 col-xs-11">

          <input type="text" class="form-control size 70" id="matricule" placeholder="Votre matricule" name="matricule">
        </div>
        </div>
        <div class="form-group">
            <label class="col-sm-10 col-sm-10 control-label"            ><b>Nom : </b></label>
            <br> </br>
            <div class="col-md-11 col-xs-11">
  
            <input type="text" class="form-control" id="firstname" placeholder="Votre Nom" name="fname">
          </div>
          </div>
          <div class="form-group" >
            <label class="col-sm-10 col-sm-10 control-label"            ><b>Prénom : </b></label>
            <br> </br>
            <div class="col-md-11 col-xs-11">
            <input type="text" class="form-control" id="Votre Prénom" placeholder="Votre prenom" name="lname">
          </div>
          </div>
        <div class="form-group">
          <label class="col-sm-10 col-sm-10 control-label"            ><b>Date de naissance : </b></label>
          <br> </br>
          <div class="col-md-5 col-xs-11">
          <input type="date" class="form-control" id="datenaiss" placeholder="Entrez votre date de naissance" name="dnaiss">
        </div>
        </div>
        <div class="form-group">
          <label class="col-sm-10 col-sm-10 control-label"            ><b>Lieu de naissance : </b></label>
            <br> </br>
            <div class="col-md-11 col-xs-11">
          <input type="lieu" class="form-control" id="lieuNaiss" placeholder="Entez votre lieu de naissance" name="lieunaiss">
        </div>
        </div>
        <br></br>
          <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Joindre votre CV</span>
          <input type="file" name="cv">
          </span>
        </span>
          <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Joindre votre lettre de motivation</span>
          <input type="file" name="lettremotiv">
          </span>
          <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Joindre votre Photo</span>
          <input type="file" name="photo">
          </span>
          <br></br>
       <!--    {% if uploaded_file_url %}
           <h4>Fichier chargé avec: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></h4>
         {% endif %}
        -->
            <div>
              <br>
                  </br>
                <h3>Veuillez selectionner vos choix de thèse :</h3>
                <br>
             

                  <div class="input-group bootstrap-form select"></div>
                    {% for these in theses %}
                    <h3> Choix de la thèse n° {{forloop.counter}}</h3>
                    <select class="form-control form-control-sm"  name='choix' value="{{these.id}}"  method="POST">
                        
                     {% for t in alltheses %}
                          <option class="form-control-option " value="{{t.id}}" name="thesechoisi" method="POST">
                              {{ t.intitule }} 
                          </option>
                          {% endfor %}
                    </select>
                    <br>
                     {% endfor %}
               </div>
            </div>
            <div class="col-md-8">
              <br></br>
             <button type="submit" class="btn btn-primary btn-lg">S'inscrir</button>
            </div>
      </form>
      {%endif%}
    </div>
    </div>
    </div>
  {% endblock content %}