{% extends "gestion_FD/base_doctorant.html "%}
{% block content %}
{% load static %}

    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Evaluations des modules</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Mes notes</h4>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Module</th>
                    <th>Date de l'évaluation</th>
                    <th>Note</th>
                    <th>Appreciation</th>
                  </tr>
                </thead>
                <tbody>
                    {% for n in notes %}
                  <tr>
                    <td>{{   forloop.counter  }}</td>
                    <td>{{n.module.nom}}</td>
                    <td>{{ n.date_eval }}</td>
                    <td>{{n.Note}}</td>
                    <td>{{n.appreciation}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
         
      </section>
    </section>

  </section>

  {% endblock content%}
