
{% extends "gestion_FD/base_employe.html "%}
{% block content %}
{% load static %}
<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i>Réinscriptions :</h3>
    <div class="row">
      <div class="col-md-12">
    
        <br>
      </br>
        <div class="content-panel">
          <h4><i class="fa fa-angle-right"></i> Dossiers à traiter : </h4>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>Numéro </th>
                <th>Nom et prénom </th>
                <th> Thèse </th>
                <th> Avis du directeur de thèse </th>
                <th> Valider </th>

              </tr>
            </thead>
            <tbody>
              {% for d in docs %}
              {% if d.rein_envo %}
              {% if not d.reinscrit %}
              {% for r in d.reinscription.all %}
              {% if  r.valide_cs %}
              {%else %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{d.nom }} {{d.prenom}}</td>
                <td>
                  {% for t in d.choix.all %}
                   {% if t.prise %}
                   {{t.intitule}}
                   {% endif%}
                   {%endfor%}
                </td>
                <td>
                  {% for r in d.reinscription.all %}
                  {% if r.avis%}
                  {{ r.declaration }}
                  {% endif%}
                  {%endfor%}

                </td>

                  <form  role="form" id="validation"  method="POST" enctype="multipart/form-data">

                    {% csrf_token %}
                 
                <td>  
                  {% for r in d.reinscription.all %}
                  {% if  r.valide_cfd %}
                  <input hidden type="text" value="{{d.pk}}" name="doct">
                  <button class="btn btn-success btn-xs" name="valide" type="submit" value="accepted"><i class="fa fa-check"></i> Valider </button>
                    {% endif%}
                    {%endfor%}
                 </td>
                </form>
              </tr>
              {% endif%}
              {%endfor%}
              {% endif%}
              {% endif%}

              {% endfor %}
            </tbody>
          </table>
        </div>
        <br>
      </br>
        <div class="content-panel">
          <h4><i class="fa fa-angle-right"></i> Réinscriptions Approuvées </h4>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th>Numéro </th>
                <th>Nom et prénom </th>
                <th> Thèse </th>
                <th> Avis du directeur de thèse </th>
                <th> Valider </th>

              </tr>
            </thead>
            <tbody>
              {% for d in docs %}
              {% if d.rein_envo %}
              {% if not d.reinscrit %}
              {% for r in d.reinscription.all %}
              {% if r.valide_cs %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{d.nom }} {{d.prenom}}</td>
                <td>
                  {% for t in d.choix.all %}
                   {% if t.prise %}
                   {{t.intitule}}
                   {% endif%}
                   {%endfor%}
                </td>
                <td>
                  {% for r in d.reinscription.all %}
                  {% if r.avis%}
                  {{ r.declaration }}
                  {% endif%}
                  {%endfor%}

                </td>

                  <form  role="form" id="validation"  method="POST" enctype="multipart/form-data">

                    {% csrf_token %}
                 
                <td>  
                 
                    <b> Dossier validé  </b>
               
             
                 </td>
                 
                </form>
              </tr>

              {%endif%}
              {%endfor%}                
              {% endif%}
              {% endif%}

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- /col-md-12 -->
     
<!--footer end-->
</section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start--> 
     {% endblock content%}
